---
title: Schedule
layout: layout.html
---
table
  thead
      tr
        td Date
        td Topic
        td Notes
        td Assignments
  tbody
    each day in schedule
      tr
        td #{day.date}
        td #{day.topic}
        td
          if day.notes
              a(href=relative("/lectures/" + day.notes))
                | notes
        td #{day.assignments}
